@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import'./normalize';

$size: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body, html {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-bg;
    transition: 0.3s;
}

body, .title, .keyboard__text {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $size;
}

div, .title {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
}

.container, .keyboard__wrapper, .keyboard__keys, .keyboard__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .keyboard__wrapper {
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
}

.title {
    font-size: $size * 2;
    font-weight: 700;
    margin-bottom: $size * 5;
}

.keyboard {
	&__wrapper {
        max-width: 1024px;
        width: 95%;
	}
    &__textarea {
        width: 100%;
        margin-bottom: $size * 2;
    }
	&__text {
        color:#61677C;
        padding: $size * 2 $size * 3.5;
        box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
        width: 100%;
        height: $size * 15;
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
        appearance: none;
        
        &:focus {
            box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
	}
	&__keys {
        width: 100%;
        flex-direction: column;
        row-gap: $size;
	}
	&__row {
        column-gap: $size;
	}
}

.key, .keyboard__text {
    border: 0;
    outline: 0;
    font-size: $size;
    border-radius: $size * 20;
    background-color: $color-bg;
}

.key {
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width: $size*3;
    height: $size*3;
    color:#61677C;
    font-size: $size*1.2;
    font-weight: 600;
    line-height: 0;
    padding: $size;
    border-radius: $size/2;
    text-shadow: 1px 1px 0 $color-white;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    &:hover {
        box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
        color: $color-red;
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

.down {
    color: $color-red;
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
}

.backspace {
    width: $size*9;
}
.tab {
    width: $size*5;
}
.delete {
    width: $size*3;
}
.capslock {
    width: $size*6.5;
}
.enter {
    width: $size*9.5;
}
.shiftleft {
    width: $size*8;
}
.shiftright {
    width: $size*8;
}
.controlleft {
    width: $size*5;
}

.controlright {
    width: $size*4;
}
.win {
    width: $size*4;
}
.altleft {
    width: $size*4;
}
.altright {
     width: $size*4;
}
.space {
    width: $size*23;
}
